body{
  font-family: 'Work Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #9C2004;
  width: 1440px;
  height: 926px;
  border: solid black 2px;
  display: flex;
}

.imagen{
  display: flex;
  width: 656px;
  height: 861px;
  margin-top: 64px;
  margin-left: 64px;
}

.texto{
  display: flex;
}