body{
  font-family: 'Work Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #9C2004;
  width: 1440px;
  height: 926px;
  border: solid black 2px;
  display: flex;
}

.imagen{
  width: 656px;
  height: 861px;
  margin-top: 64px;
  margin-left: 64px;
}

.texto{
  color: white;
  margin-left: 150px;
  margin-top: 80px;
}

.texto h1{
  font-size: 88px;
}

.texto p{
  font-size: 24px;
  width: 500px;
  font-weight: 300;
}

button{
  background-color: #E5B94B;
  width: 231px;
  height: 82px;
  border-radius: 36px;
  font-size: 32px;
  border: none;
  margin-top: 20px;
}