body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    background: #FBD786;
    width: 1440px;
    height: 1024px;
    border: solid black 2px;
  }
  
  .texto {
    gap: 32px; 
    margin-top: 350px;
    margin-right: 100px;
  }
  
  .texto h1 {
    font-size: 55px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .texto p {
   font-family: 'Space Mono';
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;


  }
  
  .boton {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .circulo1 {
  width: 130px;
  height: 130px;
  margin-top: 169px;
  margin-left: 106px;

  }
   
  .imagen {
    width: 2000px;
    height: 800px;
  }
  
  .imagen img {
    width: 100%;
  }