body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    background: #FBD786;
    width: 100%;
    max-width: 900px;
    height: 600px;
    padding: 40px;
    align-items: center;
    gap: 50px;
    box-shadow: 4px 6px 78px -12px rgba(12, 12, 12, 0.65);
  }
  
  .texto {
    flex: 1;
    position: relative;
  }
  
  .texto h1 {
    font-size: 48px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .texto p {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    max-width: 800px;
  }
  
  .boton {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .circulo1 {
    position: absolute;
    top: -60px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
  }
  
  .circulo2 {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 20px;
    border: 1px solid #000;
  }
  
  .imagen {
    width: 617px;
    height: 600px;

  }
  
  .imagen img {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }