body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container { 
    border: solid black 2px;
    padding: 40px 38px;
    width: 1080px;
}

h1 {
    width: 65%;
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 50px;
}

.imagenes {
    display: flex;
    justify-content: space-between;
}

.imagen {
    width: 250px;
    position: relative;
}

img {
    width: 250px;
    height: 300px;
    border-radius: 18px;
}

.contenido { 
    font-size: 14px;
    position: absolute;
    top: 305px;
    left: 20px;
    width: 190px;
    line-height: 20px;
}

.numeros, p {
    color: #666666;
}

.numeros {
    color: #666666;    
    font-size: 28px;
    font-weight: 680;
}

.texto p {
    font-size: 14px;
}

.texto h3 {
    font-weight: 100;
    font-size: 18px;
}