body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container { 
    box-shadow: 4px 6px 78px -12px rgba(12, 12, 12, 0.65);
    padding: 40px 38px;
    width: 1080px;
}

h2 {
    width: 65%;
    font-size: 50px;
    margin-top: 12px;
    margin-bottom: 50px;
}

.imagenes {
    display: flex;
    justify-content: space-between;
}

.imagen {
    width: 250px;
    position: relative;
}

img {
    width: 250px;
    height: 300px;
    border-radius: 18px;
}

.contenido { 
    font-size: 14px;
    position: absolute;
    top: 305px;
    left: 20px;
    width: 190px;
    line-height: 20px;
}

.texto p {
    font-size: 14px;
}

.texto h3 {
    font-weight: 100;
    font-size: 18px;
}

.numero, p {
    color: #666666;
}

.numero {
    color: #666666;    
    font-size: 28px;
    font-weight: 680;
}