body {
    font-family: sans-serif;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.container { 
    box-shadow: 3px 7px 81px -10px rgba(20, 20, 20, 0.75);
    padding: 50px 40px;
    width: 1040px;
}

h2 {
    width: 60%;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.imagenes {
    display: flex;
    justify-content: space-between;
}

.imagen {
    width: 250px;
    position: relative;
}

.imagen > p {
    font-size: 18px;
    line-height: 25px;
}

img {
    border-radius: 15px;
    width: 250px;
    height: 300px;
}

.imagen::after {
    content: " ";
    position: absolute;
    background: linear-gradient(to top, rgba(24, 23, 23, 0.333) 15%, transparent 40%);
    width: 250px;
    height: 300px;
    z-index: 10;
    right: 0;
    border-radius: 15px;
}

.contenido { 
    font-size: 14px;
    position: absolute;
    top: 305px;
    left: 20px;
    width: 190px;
    line-height: 20px;
}

.texto h3, .texto p {
    margin: 5px 0;
    color: #333;
} 

.texto p {
    font-size: 14px;
}

.texto h3 {
    font-weight: 100;
    font-size: 18px;
}

.numero, p {
    color: #777;
}

.numero {
    color: #aaa;    
    font-size: 25px;
    font-weight: 700;
}