body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 800px;
    margin-top: 70px;
    box-shadow: 3px 7px 81px -10px rgba(10, 10, 10, 0.75);
    padding: 30px;
    padding-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    margin-bottom: 50px;
    gap: 82px;
}

.texto{
   display: flex; 
   margin-left: auto;

}

.header h1 {
    display: flex;
    margin-bottom: 5px;
    gap: 82px;
    font-size: 52px;
    margin-top: 5px;
}

.header p {
    max-width: 500px;
    color: #5f5e5e;
    display: flex;

}

.boton {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.imagen {
    width: 100%;
    margin-top: 20px;
}

.imagen img {
    width: 100%;
    border-radius: 8px;
}
