body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}
.container {
    display: flex;
    max-width: 900px;
    background: #fff;
}
img{
    width: 716px;
    height: 912px;
    margin-top: 67px;
}
.contenido {
    flex: 1;
    padding: 40px;
}
h1 {
    font-size: 28px;
    margin-bottom: 15px;
}
p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}
.boton {
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 16px;
}
.texto {
    margin-top: 20px;
}
.texto span {
    display: block;
    font-weight: bold;
    color: #999;
    font-size: 18px;
}