body {
  font-family: 'lato';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

.container{
  height: 994px;
  width: 1440px;
  display: flex;
  border: solid black 2px;
  background-image: url(Fondo.png);

  background-repeat: no-repeat;
  background-position: top;

  }

.texto{

}

.imagen{
 margin-top: 600px;
 margin-left: 64px;
 display: flex;
 width: 1312px;
 height: 168px;
 align-items: center;
 justify-content: center;
}