* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    margin-top: 20px;
    height: 900px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background: url('carta46.jpg') no-repeat center center/cover;
    box-shadow: 4px 6px 78px -12px rgba(12, 12, 12, 0.65);
  }
  
  .contenido {
    padding: 40px;
    border-radius: 12px;

  }
  
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  
  .boton {
    display: inline-block;
    padding: 12px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
