body {   
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {    
    margin-top: 70px;
    padding: 50px;
    padding-bottom: 40px; 
    box-shadow: 4px 6px 78px -12px rgba(12, 12, 12, 0.65);
}

.container h1 {
    font-size: 62px;
    width: 50%;
    margin-top: 0;
}

.container > div {
    display: flex;
    gap: 45px;
}

.container > div > div {
    width: 300px;
}

.container img {
    width: 300px;
}

.container > div > div > div {
    font-size: 25px;
    color: #888;
    font-weight: 500;
    margin-bottom: 5px;
}

.container p {
    font-size: 17px;
    color: #777;
    margin-top: 0;
}