body {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.container {
    margin-top: 70px;
    padding: 50px;
    padding-bottom: 40px;
    box-shadow: 2px 5px 75px rgba(17, 17, 17, 0.75);
}

.container h2 {
    font-size: 4rem;
    width: 50%;
    margin-top: 0;
}

.container > div {
    display: flex;
    gap: 45px;
}

.container > div > div {
    width: 300px;
}

.container img {
    width: 300px;
}

.container > div > div > div {
    color: #888;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 5px;
}

.container p {
    color: #777;
    font-size: 1.1rem;
    margin-top: 0;
}